<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" colors="true"
         stopOnFailure="false" xsi:noNamespaceSchemaLocation="./phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         executionOrder="random"
         resolveDependencies="true">
    <coverage/>
    <testsuites>
        <testsuite name="PoC Queue core">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>
</phpunit>
